body {
    margin: 20px;
}

.toc {
    padding: 20px;
    margin-top: 10px;
}

.button-primary:hover {
    background-color: #2980b9;
}

.toc a {
    padding: 5px;
    border-radius: 5px;
}

.toc a.active {
    background-color: rgb(240, 240, 240);
}

.plot-axes .background {
    fill: #ecf0f1;
}

.plot-axes .axis path {
    stroke: rgb(220, 220, 220);
    shape-rendering: crispEdges;
}

.plot-axes .axis .tick {
    font-size: 15px;
}

.plot-axes .axis .tick line {
    stroke: white;
}

.plot-axes .plot-area {
    position: relative;
}